*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --navcolor:#59b8ba;
    --primarycolor:#dfe6ee;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    display: flex;
}

body{
    font-family: sans-serif;
    background-color: #f4f4f4 !important;
    overflow-x: hidden;
}

.box-container:nth-child(1){
    height: 20vh;
    margin-bottom: 5vh;
}

.input-container{
    width: 100%;
    height: 100%;
    padding:1vh 1vw;
   
}

.input-main{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
}

.input-main input[type="text"]{
    width: 20vw;
    height: 5vh;
    border:1px solid #808080b2;
    border-radius:4px;
    margin-right:3vw;
    padding:0 .5vw
}

.input-main input::placeholder{
    color:#808080b9
}

.btn-cari{
    width: 10vw;
    height: 5vh;
    background-color:#362FD9;
    border: none;
    border-radius: 8px;
    color:white

}

.button-next{
    width: 9vw;
    height: 5vh;
    background-color:#362FD9;
    border:none;
    border-radius: 8px;
    color: #f4f4f4;
}
.button-next i{
    display: none;
}

.linkpoin{
    width: 100%;
    height: 4vh;
}

.table td{
    vertical-align: middle;
    height:7vh;
   
}

.main-table tr:nth-child(even){
    background-color: transparent !important;
}

.box-container{
    border:none;
    box-shadow: none;
}

.title-box h2{
    color:#362FD9
}