*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --navcolor:#59b8ba;
    --primarycolor:#dfe6ee;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    display: flex;
}

body{
    font-family: sans-serif;
    background-color: #f4f4f4 !important;
    overflow-x: hidden;
}

.box-container:nth-child(1){
    height: auto;
    margin-bottom:5vh
}



.input-container{
    width: 100%;
    height: 14%;
    display: flex;
    flex-direction: row;
    padding:1vh 1vw;
    align-items: center;
    flex-wrap: wrap;
}

.input-items,.input-items3{
    width: 30vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    margin-right: 4vw;
    justify-content: center;
    
}

.input-items3{
    width: 10vw;
}

.input-items label{
    font-size:1.2rem;
    font-weight: bold;
    margin-bottom:2vh
}

.input-items input[type="number"],.input-items [type='text'],.input-items input[type="date"],.input-items select{
    width: 100%;
    height: 5vh;
}

.btn-done{
    width: 10vw;
    height: 6vh;
    border:none;
    background-color: green;
    color:white;
    position: relative;
    top:3vh
}

.btn-tatatertib{
    width: 15vw;
    height: 7vh;
    background-color:#0066ff;
    color:white;
    border:none;
    border-radius: 8px;
   
    position: relative;
}

