*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --navcolor:#59b8ba;
    --primarycolor:#dfe6ee;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    display: flex;
}

body{
    font-family: sans-serif;
    background-color: #f4f4f4 !important;
    overflow-x: hidden;
    transition: all .4s;
}

button:active,input[type='submit']:active{
    transform: scale(1.1);
}



nav{
    width: 17vw;
    height: 8vh;
    background-color:#1F4690;
    z-index:10;
    position: fixed;
    display: flex;
    flex-direction: row;
   
    
}

nav .logo{
    width: 16vw;
    height: 100%;
    display: flex;
    
    align-items: center;
    color:white
}

.logo-img-container{
    width: 100%;
    height: 100%;
    padding:.5vh .5vw;
    display: none;
}

.logo-img-container img{
    width: 100%;
    height: 100%;
}

nav .logo h2{
    font-size:2rem
}

main{
    width: 100%;
    height: 100vh;
}

.sidebar{
    width: 17vw;
    height: 100%;
    background-color:#1F4690;
    position: fixed;
    z-index:9;
    top:8vh;
    display: flex;
    padding:2vh 1vw;
}

.sidebar ul{
    padding:0
}

.item-sidebar{
    width: 100%;
    height: 100%;
    transition: .4s;
    display: flex;
    align-items: center;
    
    cursor: pointer;
    padding:1.5vh 1vw
}

.item-sidebar:hover{
     background-color:#f4f4f4;
     color:black !important ;
}

.item-sidebar:hover .item-sidebar i{
    color:black !important;
}

.sidebar-active{
     background-color:#f4f4f4;
     color:black !important
}

.sidebar-active i{
    color:black !important
}

.sidebar li{
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 2.5vh;
   
}

.sidebar li i{
    color:white ;
    font-size: 1.2rem;
    margin-right: 1vw;
}

.sidebar li h2,.sidebar li p{
    color:white;
    font-size:1rem
}

.sidebar li a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
   /*  background-color: red;
    width: 100%;
    height: 4vh;
    padding:3vh 1vw */
}


.imgcontainer{
    width: 3vw;
    height: 80%;
    margin-right: 1vw;
}

.imgcontainer img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.text-logo{
    width: 10vw;
    height: 100%;
    display: flex;
    align-items: center;
    padding:2vh 1vw;
    position: relative;
    left:1vw
}

.account{
    width: 100%;
    height: 10vh;
    padding:1vh 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:2vh
    /* border-bottom: 1px solid white; */
}

.text-account{
    width: 9vw;
    height: 100%;
    align-items: center;
    display: flex;
}

.main-content{
    width: 83%;
    height: 150vh;
    left:17vw;
    position: relative;
    padding:3vh 2vw;
    top:1vh;
}

.logout-container{
    width: 10vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.logout-container a{
    text-decoration: none;
}

.btn-logout{
    width: 10vw;
    height: 100%;
    border: none;
    background-color: transparent;
    color:white
}

.phone-menu-button{
    background-color: transparent;
    border: none;
    display: none;
}

.phone-menu-button i{
    color: white;
    font-size:2rem
}

.dpnone{
    display: none;
}

.class-child{
    border-left: 1px solid white;
    position: relative;
    left:1vw
}

.line-child{
    width: .5vw;
    height: 10vh;
    border-right: 1px solid white;
}

.pc-version{
    display: flex;
    flex-direction: row;
}

.android-version{
    display: none;
}



