*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --navcolor:#59b8ba;
    --primarycolor:#dfe6ee;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    display: flex;
}

body{
    font-family: sans-serif;
    background-color: #f4f4f4 !important;
    overflow-x: hidden;
}

.box-container{
    flex-direction: column;
}

.box-container:nth-child(2){
   display: none;
}

.notif-box{
    display: none !important;
}

.container-siswa{
    width: 100%;
    height: 100%;
}

.container-siswa li{
    display: flex;
    flex-direction: column;
    margin-bottom:3vh
}

.container-siswa label{
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom:2vh
}

.container-siswa ul{
    padding:1vh 1vw
}

.container-siswa input[type="text"],.container-siswa input[type="number"],.container-siswa input[type="date"]{
    width: 100% ;
    height: 5vh;
    padding: 0 .5vw;
}

input{
    padding: 0 .5vw; 
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.input-address-main{
    width: 40vw;
    height: 12vh;
}

.input-address-main:nth-child(1){
    margin-right: 3vw;
}

.input-address-main input{
    width:60vw ;
}

.notif-box{
    width: 100%;
    height: 12vh;
    background-color:var(--navcolor);
    display: flex;
    align-items: center;
    flex-direction: row;
    color:white;
    padding:1vh 1vw
}

.notif-box i{
    font-size:2.5rem;
    margin-right: 1vw;
}

.notif-box p{
    font-size:1.2rem;
    font-weight: bold;
    margin:0
}

.radioinput{
    display: flex;
    align-items: center;
    width: 10vw;
    height: 7vh;
}

.radioinput p{
    margin:0
}

.radioinput input{
    margin-right: 1vw;
}

.btn-submit{
    width: 10vw;
    height: 7vh;
    background-color:#0033ff;
    color:white;
    border-radius: 8px;
    border:none
}

.btn-view-siswa{
    width: 10vw;
    height: 5vh;
    margin-right: .5vw;
}

.btn-view-siswa button{
    width: 10vw;
    height: 5vh;
    background-color:#017b01
}

.row-button{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-button a{
    text-decoration: none;
}

.alertbutton{
    position: relative;
}

.alertbutton:hover::after{
    display: flex;
}

.alertbutton::after{
    content: "Murid ini melebihi batas poin yang sudah ditentukan";
    width: 28vw;
    height: 3vh;
    position:absolute;
    background-color:black;
    color:white;
    font-weight: normal;
    border-radius:8px;
    font-size:.95rem;
    font-family: sans-serif;
    display: none;
    align-items: center;
    justify-content: center;
}