*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

body{
    font-family: sans-serif;
    
 
}

main{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #d5d3d3;
    background-image: linear-gradient(#00000078,#0000007f), url(../asset/smkn1banjar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
}

.title-main{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
   
}

.box{
    width: 32vw;
    height: 55vh;
   /*  box-shadow: 1px 1px 5px gray; */
    background-color: transparent;
    position: relative;
}

.title{
    background-color:transparent;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title > h2{
    color:white
}

.logo-main{
    width: 30vw;
    height: 35vh;
}

.logo-main img{
    width: 100%;
    height: 100%;
}

.mainform{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainform form{
    width: 100%;
    height: 100%;
    padding:3vw;
   
}

.mainform li{
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    width: 100%;
}

.mainform li label{
    font-size:1.2rem;
    margin-bottom: 1vh;
    color:white;
    font-family: sans-serif;
}

.mainform li input{
    width: 100%;
    height: 6vh;
    padding:0 .5vw;
    background-color: rgba(255, 255, 255, 0.185);
    backdrop-filter: blur(32px);
    color:white;
    border: transparent 1px solid;
    border-radius: 12px;
}

.mainform input[type="button"]{
    height: 6vh;
}

.login_btn{
    
    cursor: pointer;
    transition: .4s;
}

.login_btn:hover{
    background-color: white;
    color:black;
    border-radius:18px
}

::placeholder{
    color:white
}



