*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --navcolor:#59b8ba;
    --primarycolor:#dfe6ee;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    display: flex;
}

body{
    font-family: sans-serif;
    background-color: #f2f2f2 !important;
    overflow-x: hidden;
}

.box-container{
    width:100%;
    height:130vh;
    /* background-color:#f5f5f5;
    box-shadow: 1px 1px 6px #00000065;
     */
    
}

.maintable{
    width: 100%;
    height: 100%;
    padding:1vw 1vh;
}

.maintable td{
    height: 8vh;
    vertical-align: middle;
}



.title{
    width: 100%;
    height: 10vh;
    padding:1vw 1vh;
     color:#362FD9; 
    /* background-color:blue;
    box-shadow: 1px 1px 6px #00000065; */
}